<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Tiêu đề trang</title>
  <!-- Link CSS -->
  <link rel="stylesheet" href="styles.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

</head>
<body>
  
  <header>
    <div class="header-top">
        <div class="logo">
            <h2>logo</h2>
        </div>
        <div class="search-box">
            <input type="text" placeholder="Tìm kiếm...">
            <button type="submit"><i class="bi bi-search"></i></button>
        </div>
        <div class="functions">
          <div class="phone">
            <a href="tel:+033474343" class="btn btn-outline-primary">
              <i class="bi bi-telephone"></i>
              <div class="text">
                <span> Liên hệ</span>
              </div>
            </a>
          </div>
          
            <a href="#" class="btn btn-outline-primary">
              <i class="bi bi-cart"></i>
              <span>Giỏ hàng</span>
            </a>
          
            <a href="#" class="btn btn-outline-success">
              <i class="bi bi-truck"></i>
              <span>Giao hàng</span>
            </a>
          
            <a href="#" class="btn btn-outline-secondary">
              <i class="bi bi-person"></i>
              <span>Tài khoản</span>
            </a>
          </div>
          

    </div>
    <div class="header-button">
      <div class="image-logo">
        <a href=""><img style="width: 100px; height: 30px;" src="./img/Screenshot_2025-04-29_143744-removebg-preview.png" alt=""></a>
      </div>
      <div class="image-logo">
        <a href=""><img style="width: 100px; height: 30px;" src="./img/Screenshot_2025-04-29_144536-removebg-preview.png" alt=""></a>
      </div>
      <div class="image-logo">
        <a href=""><img style="width: 100px; height: 30px;" src="./img/Screenshot_2025-04-29_143744-removebg-preview.png" alt=""></a>
      </div>
      <div class="image-logo">
        <a href=""><img style="width: 100px; height: 30px;" src="./img/Screenshot_2025-04-29_144536-removebg-preview.png" alt=""></a>
      </div>
      <div class="image-logo">
        <a href=""><img style="width: 100px; height: 30px;" src="./img/Screenshot_2025-04-29_143744-removebg-preview.png" alt=""></a>
      </div>
      <div class="image-logo">
        <a href=""><img style="width: 100px; height: 30px;" src="./img/Screenshot_2025-04-29_144536-removebg-preview.png" alt=""></a>
      </div>
    </div>
    
  </div>
      
      

    
    
    
    <!-- Thanh header -->
  </header>

  <nav>
    <!-- Thanh điều hướng (nếu cần) -->
  </nav>

  <main>
    <!-- Nội dung chính của trang -->
  </main>

  <footer>
    <div class="footer-row">
      <h5>KẾT NỐI</h5>
      <h4>Liên hệ trực tiếp : 
        <br>
      (Thời gian làm việc: 09h00 - 21h00) </h4>
      <div class="phone-number">
        037.222.9304
      </div>
      <ul>
        <li><a href=""><i class="fab fa-facebook"></i> Facebook</a></li>
        <li><a href=""><i class="fab fa-youtube"></i> YouTube</a></li>
        <li><a href=""><img src="path/to/zalo-icon.png"  style="width: 20px; margin-right: 10px;"> Zalo</a></li>
      </ul>
      </ul>
    </div>
    <div class="footer-row">
      <h5>CHÍNH SÁCH</h5>
        <ul>
          <li><a href="#">Hướng dẫn thanh toán</a></li>
          <li><a href="#">Hướng dẫn đặt hàng</a></li>
          <li><a href="#">Hướng dẫn mua trả góp</a></li>
          <li><a href="#">Qui định đổi mới sản phẩm</a></li>
          <li><a href="#">Quy định bảo hành - đổi trả</a></li>
          <li><a href="#">Quy định giao hàng tận nơi</a></li>
        </ul>
    </div> 
     <div class="footer-row">
      <h5>VỀ CHÚNG TÔI</h5>
        <ul>
          <li><a href="#">Giới thiệu DHM</a></li>
          <li><a href="#">Tuyển dụng</a></li>
          <li><a href="#">Điều khoản sử dụng</a></li>
          <li><a href="#">Chính sách chất lượng</a></li>
          <li><a href="#">Bảo mật thông tin</a></li>
          <li><a href="#">Hỗ trợ thanh toán</a></li>
        </ul>

    </div> 
     <div class="footer-row">
      <h5>Thanh Toán</h5>
      <ul class="payment-methods">
        <li><i class="fab fa-cc-visa"></i> Visa</li>
        <li><i class="fab fa-cc-mastercard"></i> MasterCard</li>
        <li><i class="fab fa-paypal"></i> PayPal</li>
        <li><i class="fab fa-apple-pay"></i> Apple Pay</li>
      </ul>
    </div>
  </footer>
  
  

  <!-- Link JavaScript -->
  <script src="script.js"></script>
</body>
</html>
